:root {
  --nav-height: 12vh;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
      "header"
      "nav"
      "section"
      "footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  height: var(--nav-height);
  width: auto;
  margin: 0;
}

header.index, section.index {
  background-color: #9FC55C;
}

header.butiker, section.butiker {
  background-color: #D97A7A;
}

header.inlämning, section.inlämning {
  background-color: #FFFA7C;
}

header.franchise, section.franchise {
  background-color: #7AABD9;
}

header.omOss, section.omOss {
  background-color: #D17AD9;
}

nav {
  grid-area: nav;
  background-color: #fff;
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 0.15vw;
  width: 100%;
  height: var(--nav-height);
  font-family: 'Inter', sans-serif;
  box-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: center;
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 1% 1% 1% 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #202020;
  padding: 1vw;
  border-radius: 1vw;
}

nav a.nav-link:hover {
  background-color: #cff096;
}

nav img {
  width: 10vw;
  height: auto;
  pointer-events: none;
}

section {
  grid-area: section;
  width: 100%;
  min-height: 88vh;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

footer {
  grid-area: footer;
  background-color: #fff;
  color: #3a3a3a;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #3a3a3a;
}

footer a:hover {
  color:#202020;
  text-decoration: underline;
}

.footer-table {
  background-color: beige;
  width: 100%;
  border-collapse: collapse;
  margin: 5% 5% 0 5%;
}

.footer-table th, .footer-table td {
  padding: 1vh;
}

.footer-table th {
  color: #3a3a3a;
} 

i {
  color: #3A3A3A;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  line-height: 1.2;
}

section.franchise i {
  font-size: 6vw;
  width: 6vw;
  margin-left: calc(50% - 3vw);
}

footer i {
  font-size: 2vw;
}

footer i:hover {
  color: #202020;
  transform: translateY(-0.25vw);
}

section i:hover {
  color: #202020;
  transform: translateY(0.25vw);
}

.textContainer {
  width: 100%;
  max-width: 1920px;
  position: absolute;
  top: 30%;
}

.mainText, h1, h2, h3 {
  color: #3A3A3A;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  line-height: 1.2;
}

.mainText img {
  width: 5%;
  height: auto;
  margin-left: 2%;
}

h1 {
  font-size: 4vw;
  text-align: left;
  margin-left: 10%;
}

h2 {
  font-size: 4vw;
  text-align: center;
}

h3 {
  font-size: 1vw;
  text-align: left;
  margin-left: 10%;
  max-width: 25%;
}

.arrow-container {
  text-align: center;
  width: 4vw;
  height: auto;
  margin-left: 30%;
  margin-top: -2vh;
}

.arrow-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 4vw solid #3A3A3A;
}

.image-gallery {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.gallery-list, .sort {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item-4 {
  width: 25%;
  box-sizing: border-box; 
  padding: 1vw;
}

.gallery-item-3, #sortable {
  width: 33.33%;
  box-sizing: border-box;
  padding: 0 2vw 2vw 2vw;
}

.gallery-item-4 img, .gallery-item-3 img {
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 5%;
  margin: auto;
  box-shadow: none;
  background-color: lightblue;
  border-radius: 0.5vw;
  height: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: height 0.3s ease;
}

label {
  margin-top: 1vh;
  font-weight: bold;
}

input, textarea, select {
  border: #fff;
  padding: 0.5vw;
  margin-bottom: 2vh;
  background-color:rgb(245, 245, 245);
  border-radius: 0.5vw;
  box-shadow: none;
  color: #3A3A3A;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  line-height: 1.2;
}

button {
  background-color: #4CAF50;
  font-size: 1vw;
  color: white;
  padding: 1vw;
  width: 7vw;
  border: none;
  cursor: pointer;
  border-radius: 0.5vw;
}

.button2 {
  margin-left: 20%;
}

#sortButton, #resetButton {
  /* Your styling goes here */
  background-color: white;
  width: auto;
  height: auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  /* box-shadow: 0 0.2vw 0.2vw rgba(0, 0, 0, 0.2); */
}

.sortBox {
  grid-area: section;
  width: 100%;
  height: auto;
  /* background-color: black; */
  margin: 0;
  display: flex;
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding on the ul */
}

.sortBoxLi, .sortBoxUl {
  display: flex;
  /* background-color: #4CAF50; */
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 0 0.5vw 0 0;
  flex-wrap: wrap;
}

.sortBoxUl {
  margin: 0 0 1vw 2vw;
}

#sortButton:hover, #resetButton:hover {
  background-color: #9FC55C; /* Darker green on hover */
}

#sortButton.clicked, #resetButton.clicked {
  background-color: #3498db; /* Blue color when button is clicked */
}


.kontaktaOssContainer {
  grid-area: section;
  bottom: 0;
  height: auto;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: grid;
}

.butiksägarePilBox {
  text-align: center;
  width: 4vw;
  height: auto;
  margin-left: 35%;
  margin-top: -5vh;
  transform: rotate(135deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.sliderBox {
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  margin: 0 1% 0 0;
  right: 0;
  top: 0;
}

.colorblindMode {
  /* Updated color scheme for better colorblind accessibility */
  header.index, section.index {
      background-color: #8ACB8C;
  }

  header.butiker, section.butiker {
      background-color: #E27D7D;
  }

  header.inlämning, section.inlämning {
      background-color: #FFF757;
  }

  header.franchise, section.franchise {
      background-color: #8FAEDB;
  }

  header.omOss, section.omOss {
      background-color: #DA7AD9;
  }

  h1, h2, h3 {
      color: black;
  }

  nav {
      background-color: #fff;
  }

  nav a {
      color: black; 
  }

  nav a.nav-link:hover {
      background-color: #D9F095; 
  }

  footer {
      background-color: #fff;
      color: black; 
  }

  footer a {
      color: black; 
  }

  footer a:hover {
      color: blue; 
  }
} 


@media (max-width: 780px) {
  .gallery-item-4, .gallery-item-3 {
      width: 50%;
  }

  h1 {
      font-size: 5vw;
  }

  h2 {
      font-size: 5vw;
  }

  h3 {
      font-size: 2vw; 
      max-width: 100%;
  }

  .video-container {
      margin: 57% 0 0 10%;
      width: 80vw;
      height: auto;
  }

  nav {
      font-size: 2vw;
      height: 15vh;
      --nav-height: 15vh;
  }

  nav img {
      width: 15vw;
  }

  section {
      padding-top: calc(var(--nav-height) - 10vh);
  }

  i {
      font-size: 4vw;
  }

  .butiksägarePilBox {
      text-align: center;
      font-size: 4vw;
      width: 4vw;
      height: auto;
      margin-left: 25%;
      margin-top: 4vh;
      transform: rotate(145deg);
  }

  .sliderBox {
      margin: 0 0 0 0;
  }
}

@media (max-width: 480px) {
  .gallery-item-4, .gallery-item-3 {
      width: 100%;
  }

  h1, h2{
      font-size: 8vw;
  }

  h3 {
      font-size: 3vw;
  }

  .video-container {
      margin-top: 75%;
  }

  nav {
      font-size: 3vw;
      height: 12vh;
      --nav-height: 12vh;
  }

  section {
      padding-top: 5vh;
  }

  i {
      font-size: 4vw;
  }

  .arrow {
      width: 0;
      height: 0;
      border-top: 4vw solid transparent;
      border-bottom: 4vw solid transparent;
      border-left: 8vw solid #3A3A3A;
  }

  .butiksägarePilBox {
      margin-top: 4vh;
      margin-left: 47%;
      font-size: 8vw;
      transform: rotate(180deg);
  }
}

@media print {
  body {
      font-size: 16px;
  }

  header, footer, .video-container {
      display: none;
  }

  .textContainer {
      width: 100%;
  }
}